<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/login" method="post" className="form-control">
        <label>username</label>
        <input type="text" id="username" name="username"className="form-control" placeholder="enter username">
        <label>password</label>
        <input type="password" name="password"id="password"className="form-control" placeholder="enter password">
        <a href="login">New here?</a>
        <button className="btn btn-secondary">Login</button>
    </form>
</body>
</html>